.Pokemon__card{
    padding:2rem;
    background-color: #FFF;
}

.Pokemon__name{
    text-align: center;
    text-transform: capitalize;
}
.Pokemon__ability{
}

.Pokemon__image{
    display: block;
    margin-left: auto;
  margin-right: auto;
}

.Pokemon__ability-title{
    font-weight: bold;
}

.Pokemon__ability-name{
    font-style: italic;
}

